extends ../layout

block content
  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии
      ul.publication__list
        each comment in commentList
          form(action=`my/comments/${comment.id}` method='POST')
            li.publication__list-item
              .publication__header
                img.publication__list-image(src=`img/${comment.account.avatar || `icons/smile.svg`}` width='20' height='20' alt='Аватар пользователя')
                b.publication__list-name= `${comment.account.firstname} ${comment.account.lastname}`
                time.publication__item-time(datetime=comment.date.stamp)= `${comment.date.day}, ${comment.date.time}`
              a.publication__item-text(href=`/articles/${comment.article.id}`)= comment.text
              p.publication__text-strong= comment.article.title
              button.publication__button.button.button--close-item(type='submit' name='action' value='delete')
                span.visually-hidden Закрыть строку списка
