.post__wrapper.post__wrapper--comments
  section.post__comments.comments
    h2#comments.comments__title.title.title--middle= comments.length !== 0 ? `Комментарии` : `Комментарии отсутствуют`
    ul.comments__list
      each comment in comments
        li.comments__comment
          img.comments__avatar.avatar(src=`img/${comment.account.avatar || `icons/smile.svg`}` alt='аватар пользователя')
          .comments__text
            .comments__head
              p= `${comment.account.firstname} ${comment.account.lastname} •`
              time.comments__date(datetime=comment.date.stamp)= `${comment.date.day}, ${comment.date.time}`
            p.comments__message= comment.text

    if !account
      .comments__footer.comments__footer--visitor
        a.comments__button.button.button--colored(href=`/login`) Войти
        .comments__registration
          p.text.text--signature
            b.title.title--small Регистрация
            | Чтобы присоединиться к переписке нужно зарегистрироваться
    else if account
      .comments__footer.comments__footer--user
        form(action=`/articles/${article.id}` method='POST')
          .comments__avatar.avatar
            img(src=`img/${account.avatar || `icons/smile.svg`}` alt='аватар пользователя')
          label
            textarea#new-comment(rows='1' name='text' placeholder='Присоединиться к обсуждению' required)= newComment && newComment.text || ``
          button.comments__button.button.button--colored(type='submit') Опубликовать
        if errorMessages
          each error in errorMessages
            p.comments__error= error
